<mat-card>
    <mat-card-header>
      <mat-card-subtitle>Presupuesto Estimado</mat-card-subtitle> 
      <mat-card-title><mat-icon matSuffix>euro_symbol</mat-icon> {{getTabParams('resultadoIntegral', 'total')}} </mat-card-title> 
    </mat-card-header>
    <mat-card-content>
        Por haber seleccionado
        <mat-list>
          
          <mat-list-item><mat-icon matSuffix>home</mat-icon> m2 de la vivienda: {{getTabParams('resultadoIntegral', 'metros')}}</mat-list-item>
          <mat-list-item><mat-icon matSuffix>shower</mat-icon>N° de baños: {{getTabParams('resultadoIntegral', 'wc')}}</mat-list-item>
          <mat-list-item><mat-icon matSuffix>bedroom_parent</mat-icon> N° de habitaciones: {{getTabParams('resultadoIntegral', 'habitacion')}}</mat-list-item>
          <mat-list-item><mat-icon matSuffix>blender</mat-icon>Cocina: {{getTabParams('resultadoIntegral', 'cocina')}}</mat-list-item>
          <mat-list-item><mat-icon matSuffix>chair</mat-icon>Salón: {{getTabParams('resultadoIntegral', 'salon')}}</mat-list-item>
          <mat-list-item>Calidad: {{getTabParams('resultadoIntegral', 'calidad')}}</mat-list-item>
          <mat-list-item>Tipo de vivienda: {{getTabParams('resultadoIntegral', 'vivienda')}}</mat-list-item>
          <mat-list-item>Tipo de Reforma: {{getTabParams('resultadoIntegral', 'reforma')}}</mat-list-item>
         </mat-list>
         
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" type="button" (click)="habilitarDatosContactoTab()">Solicitar Información</button>
    </mat-card-actions>
  </mat-card>
