


<div class="container my-3">
    <form [formGroup]="cuestionarioForm" >
      <div fxLayout="column" fxLayoutGap="15px" fxLayoutAlign="center stretch">
        <mat-card class="no-shadow">
            <mat-card-header>
              <mat-card-title><mat-icon matSuffix>home</mat-icon> m<sup>2</sup> de la vivienda {{sliderMC.value}}</mat-card-title>
            </mat-card-header>
      
            <mat-card-content>
                <mat-slider min="1" max="300" step="1"  >
                    <input matSliderThumb  formControlName="valorMetrosCuadrados" #sliderMC>
                </mat-slider>
              
            </mat-card-content>
          </mat-card>

          <mat-card class="no-shadow">
            <mat-card-header>
              <mat-card-title><mat-icon matSuffix>shower</mat-icon> N&deg; de baños {{sliderWc.value}}</mat-card-title>
            </mat-card-header>
      
            <mat-card-content>
              
                <mat-slider min="1" max="5" step="1">
                    <input matSliderThumb formControlName="valorWc" #sliderWc>
                </mat-slider>
              
            </mat-card-content>
          </mat-card>
       
          <mat-card class="no-shadow">
            <mat-card-header>
              <mat-card-title><mat-icon matSuffix>bedroom_parent</mat-icon> N&deg; de habitaciones {{sliderHab.value}}</mat-card-title>
            </mat-card-header>
      
            <mat-card-content>
              <mat-slider min="1" max="10" step="1">
                  <input matSliderThumb  formControlName="valorHabitaciones" #sliderHab>
              </mat-slider>
            </mat-card-content>
          </mat-card>

          <mat-card class="no-shadow">
            <mat-card-header>
              <mat-card-title><mat-icon matSuffix>blender</mat-icon> Cocina</mat-card-title>
            </mat-card-header>
      
            <mat-card-content>
                <mat-form-field>
                  <mat-select formControlName="cocinaControl" name="cocina">
                    <mat-option *ngFor="let cocina of cocinaList" [value]="cocina.id">
                      {{cocina.descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </mat-card-content>
          </mat-card>         

          <mat-card class="no-shadow">
            <mat-card-header>
              <mat-card-title><mat-icon matSuffix>chair</mat-icon> Salón</mat-card-title>
            </mat-card-header>
      
            <mat-card-content>
                <mat-form-field>
                  <mat-select formControlName="salonControl" name="salon">
                    <mat-option *ngFor="let salon of salonList" [value]="salon.id">
                      {{salon.descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </mat-card-content>
          </mat-card>  

          <mat-card class="no-shadow">
            <mat-card-header>
              <mat-card-title>Tipo de vivienda</mat-card-title>
            </mat-card-header>
      
            <mat-card-content>
                <mat-form-field>
                  <mat-select formControlName="viviendaControl" name="vivienda">
                    <mat-option *ngFor="let vivienda of viviendaList" [value]="vivienda.id">
                      {{vivienda.descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </mat-card-content>
          </mat-card>

          <mat-card class="no-shadow">
            <mat-card-header>
              <mat-card-title>Calidad</mat-card-title>
            </mat-card-header>
      
            <mat-card-content>
                <mat-form-field>
                  <mat-select formControlName="calidadControl" name="calidad">
                    <mat-option *ngFor="let estadoReforma of calidadList" [value]="estadoReforma.id">
                      {{estadoReforma.descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </mat-card-content>
          </mat-card>

          <mat-card class="no-shadow">
            <mat-card-header>
              <mat-card-title>Tipo de Reforma</mat-card-title>
            </mat-card-header>
      
            <mat-card-content>
                <mat-form-field>
                  <mat-select formControlName="estadoReformaControl" name="estadoReforma">
                    <mat-option *ngFor="let estadoReforma of tipoReformaList" [value]="estadoReforma.id">
                      {{estadoReforma.descripcion}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
            </mat-card-content>
          </mat-card>

          <mat-card class="no-shadow">
            <mat-card-content>
              <mat-card-actions>
                <button mat-raised-button color="primary" type="button" (click)="habilitarResultadoIntegralTab(true)">Calcular</button>
              </mat-card-actions>
            </mat-card-content>
          </mat-card>

        </div>
    </form>
    

</div>
        
            

        


